{% load static %}
<html>
  <head>
    <title>INVOICE</title>

    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="d-flex justify-content-center gap-3 my-3">
      <a href="{% url 'product-list' %}" class="btn btn-outline-primary"
        >Groupes</a
      >
      <a href="{% url 'cart' %}" class="btn btn-outline-primary">🛒</a>
    </nav>

    <!-- balise block est provient de Django ensuite son nom content-->
    {% block content %}{% endblock %}
  </body>
</html>
